<html>
<head>
    <title>Sanction Mail</title>
    <style>
        body {font-family: Angsana New, Cordia New !important;font-size: 10px !important;}
        tr th { white-space: nowrap; font-family: Angsana New, Cordia New !important;font-size: 10px !important; font-weight: bold; background-color: Navy; color: white }
        tr td { white-space: nowrap; font-family: Angsana New, Cordia New !important;font-size: 10px !important;}
    </style>
</head>
<body>
    <table style='border: 1px solid' cellpadding="0" cellspacing="3">
        <tr>
            <th width='150'>Source</th>
            <th width='120'>Ref No.</th>
            <th width='80'>ID No.</th>
            <th width='180'>Client Name</th>
            <th width='180'>Field Name</th>
            <th width='80'>Seq No.</th>
            <th width='150'>CWLKeyword</th>
            <th width='100'>CWLCategory</th>
            <th width='100'>CWLType</th>
            <th width='120'>CWLSubCategory</th>
            <th width='120'>SanctionGroup</th>
            <th width='180'>HIT Value</th>
            <th width='150'>Description</th>
            <th width='80'>Result</th>
        </tr>
            {Sanction_Result}
    </table>
</body>
</html>
