<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="website" value="http://localhost:49290/WebTreasury"/>
    <add key="pathxulrunner" value="E:\KiatnakinBank\Windows7x2008\Project\Project\TreasuryShadowSystem\TreasuryShadowSystem\bin"/>
    <add key="pathfileurl" value="E:\KiatnakinBank\Windows7x2008\Project\Project\TreasuryShadowSystem\TreasuryJob\Html\CallBOTAPI.html" />-->
    <add key="SWIFTFILE_OUTGOING_FOLDER" value="E:/Outgoing"/>
    <add key="SWIFTFILE_SERIES" value="300,202,103"/>
  </appSettings>
  <connectionStrings>
     <add name="OracleConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TRODB)));User Id=OPICS;Password=master;"/>
  </connectionStrings>
</configuration>